:root {

  /* ส่วนของ Color */
  --redfull: #ff0000;
  --red: #ec0b0b;
  --bluelite: #1e90ff;
  --bluedeep: #3b82f6;
  --white: #ffffff;
  --bgcontent: #fcfcfc;
  --btbgact: #f3f4f6;
  --bghead: #e3e3e3;
  --bgcolo: #d6d6d6;
  --texclact: #a8a2a2;
  --gray: #262626;
  --black: #000000;

  /* สีที่คลุม modal-search-card */
  --modalsearchcard: #eeeeeebf;

  /* สีที่คลุมหน้าจอ */
  --bgoverlay: #fcfcfc80;

  /* ส่วนของ Color ที่ใช้ร่วมกัน */
  --white-default: #ffffff;
  --black-default: #000000;
  --orangfull: #ffa600;
  --yellowfull: #ffe600;
  --greenfull: #00ff00;

}