:root {

  /* ส่วนของ Color */
  --redfull: #3b82f6;
  --red: #1e90ff;
  --bluelite: #ec0b0b;
  --bluedeep: #ff0000;
  --white: #333333;
  --bgcontent: #393837;
  --btbgact: #494949;
  --bghead: #565656;
  --bgcolo: #676767;
  --texclact: #a2a2a2;
  --gray: #f3f3f3;
  --black: #ffffff;

  /* สีที่คลุม modal-search-card */
  --modalsearchcard: #222222bf;

  /* สีที่คลุมหน้าจอ */
  --bgoverlay: #fcfcfc80;

  /* ส่วนของ Color ที่ใช้ร่วมกัน */
  --white-default: #ffffff;
  --black-default: #000000;
  --orangfull: #ffa600;
  --yellowfull: #ffe600;
  --greenfull: #00ff00;

  /* ส่วนของ Shadow */
  --box-shadow-mid: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-sml: 0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 0px rgba(0, 0, 0, 0.1);

}