.zoomed-image {
  transform: scale(2);
  cursor: zoom-out;
}

.zoomed-btn-close {
  color: var(--red);
  border-radius: 50%;
  padding: 4px;
}

.zoomed-btn-close:hover {
  color: var(--bluelite);
  background-color: var(--white);
}

.zoomed-img-s-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0.5rem;
}

.zoomed-img-s {
  display: flex;
  overflow-y: auto;
  gap: 0.5rem;
}

@media (min-width: 550px) {

  .zoomed-img-s-box {
    flex-direction: row;
  }

  .zoomed-img-s {
    flex-direction: column;
  }
}
