/* ------------------------------------------- Start Product Modal */

.modal-div-close {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal-div-open {
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 0px 5px 5px rgba(68, 68, 68, 0.3);
  padding: 8px;
  border-radius: 8px;
  max-width: 90%;
  width: 400px;
  border: 1px solid var(--bluelite);
}

.modal-bnt-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--bgcontent);
  border-radius: 50%;
  padding: 1px 1px;
  fill: var(--red);
  width: 27px;
  height: 27px;
  z-index: 20;
}

.modal-bnt-close:hover {
  fill: var(--gray);
  stroke: var(--red);
}

.modal-swiper-size {
  width: 100%;
  height: auto;
}

.modal-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-swiper-slide img {
  max-width: 100%;
  /* height: auto; */
  height: 200px;
  object-fit: contain;
  border-radius: 4px;
}

.modal-wrap {
  background-color: var(--bgcontent);
  border-radius: 4px;
}

.modal-title {
  font-size: var(--fontsize14);
  font-weight: 600;
  margin-bottom: 4px;
  text-align: center;
}

.modal-description {
  font-size: var(--fontsize13);
  line-height: 1.25rem;
  color: var(--gray);
  text-align: center;
  margin-bottom: 4px;
  white-space: pre-wrap;
  text-wrap: wrap;
}

/* ------------------------------------------- End Product Modal */
/* ------------------------------------------- Start CartCard - Cart Modal */

.modal-cart-div-open {
  position: relative;
  background-color: var(--bgcontent);
  box-shadow: 0px 0px 5px 5px rgba(68, 68, 68, 0.3);
  padding: 8px;
  max-width: 70vh;
  max-width: 70dvh;
  width: 94%;
  height: auto;
  border-radius: 8px;
  border-top-left-radius: 0px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bluelite);
}

.modal-cartcard {
  max-height: 60vh;
  max-height: 60dvh;
  height: 94%;
  width: auto;
  overflow-y: auto;
  /* max-width: 80vh; */
  /* max-width: 80dvh; */
}

.modal-cartcard-head {
  position: absolute;
  top: -33px;
  left: -1px;
  gap: 4px;
  background-color: var(--bluelite);
}

.modal-cartcard-content {
  padding: 4px;
}

.modal-cartcard-content-box {
  padding: 8px;
  background-color: var(--white);
  border: 1px solid var(--bgcolo);
  border-radius: 6px;
  margin-bottom: 12px;
  width: 100%;
  box-shadow: var(--box-shadow-mid);
}

.modal-cartcard-content-box-row-1 {
  margin-bottom: 8px;
  border: 1px solid var(--btbgact);
  border-radius: 4px;
  padding: 4px;
  background-color: var(--bgcontent);
}

.modal-cartcard-content-box-row-1-title {
  font-size: var(--fontsize13);
  font-weight: 600;
}

.modal-cartcard-content-box-row-1-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-cartcard-content-box-row-1-data-left {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cartcard-content-box-row-1-data-left img {
  border-radius: 4px;
  max-width: 100px;
  height: auto;
}

.modal-cartcard-content-box-row-1-data-left-no-img {
  border-radius: 4px;
  width: 100px;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(255, 255, 255, 10%), rgb(0 0 0 / 50%));
  color: var(--texclact);
  font-size: var(--fontsize12);
}

.modal-cartcard-content-box-row-1-data-description {
  white-space: pre-wrap;
  text-wrap: wrap;
  color: var(--gray);
  font-size: var(--fontsize13);
  padding-left: 10px;
  line-height: 1.25rem;
}

.modal-cartcard-content-box-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-cartcard-content-box-row-2-quantity-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cartcard-content-box-row-2-quantity {
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 0 2px;
  padding: 0 2px;
  background-color: var(--btbgact);
  font-size: var(--fontsize12);
  /* border: 1px solid var(--bgcolo); */
}

.modal-cartcard-content-box-row-2-quantity-count {
  padding: 0 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--bluelite);
  font-size: var(--fontsize13);
}

.modal-cartcard-content-box-row-2-quantity-count-price {
  padding: 0 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--bluelite);
  font-size: var(--fontsize14);
}

.modal-cartcard-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--btbgact);
}

.modal-cartcard-total-count {
  font-size: var(--fontsize16);
  font-weight: 600;
}

.modal-cartcard-total-count-price {
  font-size: var(--fontsize17);
  font-weight: 600;
  color: var(--bluedeep);
}

.modal-cartcard-total-count-price-btn {
  width: auto;
  margin: 10px 18px 4px;
}

/* ------------------------------------------- End CartCard - Cart Modal */
/* ------------------------------------------- Start Search Card Modal */
.modal-search-card {
  background-color: var(--modalsearchcard);
}

/* ------------------------------------------- End Search Card Modal */

/* ------------------------------------------- RESPONSIVE ------------------------------------------- */

@media (max-height: 500px) {
  .modal-cart-div-open {
    max-width: 120vh;
    max-width: 120dvh;
    height: auto;
  }

  .modal-cartcard {
    max-height: 55vh;
    max-height: 55dvh;
    width: auto;
  }
}