/* Start Product Modal */

.modal-div-close {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.modal-div-open {
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 0px 5px 5px rgba(68, 68, 68, 0.3);
  padding: 8px;
  border-radius: 8px;
  width: 92%;
  max-width: 420px;
}

.modal-bnt-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--red);
  padding: 0px 6px;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 3px;
  z-index: 20;
  color: var(--gray);
}

.modal-bnt-close:hover {
  background-color: var(--gray);
  color: var(--redfull);
}

.modal-swiper-size {
  width: 100%;
  height: auto;
}

.modal-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
  /* cursor: move; */
}

.modal-wrap {
  background-color: var(--bgcontent);
  border-radius: 4px;
}

.modal-title {
  font-size: var(--fontsize13);
  font-weight: 600;
  margin-top: 4px;
  text-align: center;
}

.modal-description {
  font-size: var(--fontsize13);
  line-height: 1.25rem;
  color: var(--gray);
  text-align: center;
}

/* End Product Modal */

/* Start CartCard - Cart Modal */

.modal-cart-div-open {
  position: relative;
  background-color: var(--bgcontent);
  box-shadow: 0px 0px 5px 5px rgba(68, 68, 68, 0.3);
  padding: 8px;
  max-width: 72vh;
  max-width: 72dvh;
  width: 94%;
  height: auto;
  border-radius: 8px;
  border-top-left-radius: 0px;
  align-items: center;
  justify-content: center;
}

@media (max-height: 500px) {
  .modal-cart-div-open {
    max-width: 120vh;
    max-width: 120dvh;
    width: 94%;
    height: auto;
  }
}

.modal-cartcard {
  width: auto;
  height: 98%;
  max-height: 74vh;
  max-height: 74dvh;
  overflow-y: auto;
  /* max-width: 80vh; */
  /* max-width: 80dvh; */
}

.modal-cartcard-head {
  position: absolute;
  top: -33px;
  left: 0px;
  gap: 4px;
}

.modal-cartcard-content {
  padding: 8px;
}

.modal-cartcard-content-box {
  padding: 8px;
  background-color: var(--white);
  border: 1px solid var(--btbghov);
  border-radius: 6px;
  margin-bottom: 8px;
  width: 100%;
  box-shadow: var(--box-shadow-mid);
}

.modal-cartcard-content-box-row-1 {
  margin-bottom: 8px;
  border: 1px solid var(--btbgact);
  border-radius: 4px;
  padding: 4px;
  background-color: var(--bgcontent);
}

.modal-cartcard-content-box-row-1-title {
  font-size: var(--fontsize13);
  font-weight: 600;
}

.modal-cartcard-content-box-row-1-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-cartcard-content-box-row-1-data-left {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cartcard-content-box-row-1-data-left img {
  border-radius: 4px;
  max-width: 100px;
  height: auto;
}

.modal-cartcard-content-box-row-1-data-left-no-img {
  border-radius: 4px;
  width: 100px;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(255, 255, 255, 10%), rgb(0 0 0 / 50%));
  color: var(--texclact);
  font-size: var(--fontsize12);
}

.modal-cartcard-content-box-row-1-data-description {
  white-space: pre-wrap;
  text-wrap: wrap;
  color: var(--gray);
  font-size: var(--fontsize13);
  padding-left: 10px;
  line-height: 1.25rem;
}

.modal-cartcard-content-box-row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal-cartcard-content-box-row-2-quantity-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cartcard-content-box-row-2-quantity {
  border-width: 1px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 0 4px;
  padding: 0 2px;
  background-color: var(--btbgact);
  font-size: var(--fontsize12);
}

.modal-cartcard-content-box-row-2-quantity-minus-btn,
.modal-cartcard-content-box-row-2-quantity-plus-btn {
  background-color: var(--bluelite);
  border-radius: 3px;
}

.modal-cartcard-content-box-row-2-quantity-minus-btn:hover,
.modal-cartcard-content-box-row-2-quantity-plus-btn:hover {
  background-color: var(--red);
  color: var(--black);
}

.modal-cartcard-content-box-row-2-quantity-count {
  padding: 0 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--black);
  font-size: var(--fontsize13);
}

.modal-cartcard-content-box-row-2-quantity-count-price {
  padding: 0 4px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--bluedeep);
  font-size: var(--fontsize14);
}

.modal-cartcard-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
  background-color: var(--white);
  border-radius: 5px;
  border-width: 1px;
}

.modal-cartcard-total-count {
  font-size: var(--fontsize17);
  font-weight: 700;
}

.modal-cartcard-total-count-price {
  font-size: var(--fontsize17);
  font-weight: 700;
  color: var(--bluedeep);
}

.modal-cartcard-total-count-price-btn {
  margin-top: 16px;
  width: 100%;
  padding: 8px 0;
  border-radius: 6px;
  background-color: var(--bluelite);
  color: var(--white);
  font-size: var(--fontsize18);
  box-shadow: var(--box-shadow-mid);
}

.modal-cartcard-total-count-price-btn:hover {
  background-color: var(--bluedeep);
  color: var(--bgcontent);
}

/* End CartCard - Cart Modal */

/* Start Search Card Modal */

.modal-search-card {
  background-color: #ffffffe1;
}

/* End Search Card Modal */