
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* object-fit: contain; */
  border-radius: 4px;
}

/* ปุ่มเลื่อน Swiper */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(201, 198, 198, 0.1);
  --swiper-navigation-color: var(--red);
  --swiper-navigation-size: 28px;
  padding: 20px;
  border-radius: 15%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(212, 212, 212, 0.3);
  --swiper-navigation-color: var(--bluelite);
}
